.project-card-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    transition: ease .3s;
    display: felx;
    justify-content: space-between;
    align-items: center;
}

.project-card-wrapper:hover {
    transform: scale(1.05);
}