.eidt-table-card {
    display: flex;
    justify-content: center;
}

.edit-table-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-table-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 10px;
}