.projects-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80%;
}

.project-list-container {
    background-color: var(--background-color);
    height: 90%;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: -10px 10px 10px rgba(80, 80, 80, 0.2);
}

.project-list-container > div {
    margin-bottom: 20px;
}