:root {
    --background-color: rgb(233, 233, 233);
    --text-color: #bb6d6d;
    --background-color-hover: rgb(203, 203, 203);
    --supporting-color: rgb(105, 105, 105);
    // --text-color: #f3f3f3;
}