.sidebar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: var(--bright-color);
    border-radius: 100vh;
    width: 5vh;
    height: 5vh;
    transition: transform .2s;
}

.sidebar__link:hover {
    background-color: var(--background-color-hover);
    transform: scale(1.05);
}