.logout-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFD700; /* Золотой цвет */
  }
  
  .logout-content {
    text-align: center;
    background-color: #000; /* Черный цвет */
    padding: 20px;
    border-radius: 10px;
    color: #fff; /* Белый цвет текста */
  }
  
  .logout-content h1 {
    font-size: 2em;
  }
  
  .logout-content p {
    margin: 20px 0;
  }
  